<h1 class="mb-3">Add New Product</h1>

<form class="m-3" [formGroup]="productForm" (ngSubmit)="handleProduct()">
    <div class="row">
        <div class="mb-3">
            <input class="form-control" placeholder="title" formControlName="title" >
            <div *ngIf="title?.['invalid'] && (title?.['dirty'] || title?.['touched'])" class="alert alert-danger">
                <span *ngIf="title?.['errors']?.['required']">Title is required</span>
            </div>
            <div class="alert alert-danger" *ngIf="errMsg.title">{{errMsg.title}}</div>
        </div>

        <div class="mb-3">
            <input class="form-control" placeholder="desc" formControlName="desc" >
            <div *ngIf="desc?.['invalid'] && (desc?.['dirty'] || desc?.['touched'])" class="alert alert-danger">
                <span *ngIf="desc?.['errors']?.['required']">desc is required</span>
            </div>
            <div class="alert alert-danger" *ngIf="errMsg.desc">{{errMsg.desc}}</div>
        </div>

        <div class="mb-3">
            <input class="form-control" placeholder="price" formControlName="price" type="number">
            <div *ngIf="price?.['invalid'] && (price?.['dirty'] || price?.['touched'])" class="alert alert-danger">
                <span *ngIf="price?.['errors']?.['required']">price is required</span>
            </div>
            <div class="alert alert-danger" *ngIf="errMsg.price">{{errMsg.price}}</div>
        </div>

        <div class="mb-3">
            <label>Category</label>
            <select class="form-select" formControlName="categoryId">
                <option value="" disabled>Choose Category</option>
                <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            </select>
            <div *ngIf="categoryId?.['invalid'] && (categoryId?.['dirty'] || categoryId?.['touched'])" class="alert alert-danger">
                <span *ngIf="categoryId?.['errors']?.['required']">Category is required</span>
            </div>
            <div class="alert alert-danger" *ngIf="errMsg.categoryId">{{errMsg.categoryId}}</div>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-info">Add Product</button>
        </div>
    </div>
</form>