.angular
node_modules
angular/.angular/*
api/.env
api/prometheus-2.41.0.linux-amd64
api/grafana-9.3.2
terraform/first-stack/.terraform*
terraform/second-stack/.terraform*
terraform/third-stack/.terraform*
