<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <div class="row">
        <div class="mb-3">
            <input class="form-control" placeholder="email" formControlName="email">
            <div *ngIf="email?.['invalid'] && (email?.['dirty'] || email?.['touched'])" class="alert alert-danger">
                <span *ngIf="email?.['errors']?.['required']">email is required</span>
                <span *ngIf="email?.['errors']?.['email']">wrong formula of email</span>
            </div>
            <div class="alert alert-danger" *ngIf="errMsg.email">{{errMsg.email}}</div>
        </div>

        <div class="mb-3">
            <input class="form-control" placeholder="password" formControlName="password" type="password">
            <div *ngIf="password?.['invalid'] && (password?.['dirty'] || password?.['touched'])" class="alert alert-danger">
                <span *ngIf="password?.['errors']?.['required']">password is required</span>
            </div>
            <div class="alert alert-danger" *ngIf="errMsg.password">{{errMsg.password}}</div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>